<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.mvplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.AnimationActivity">
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SettingsActivity"/>
        <activity android:name=".ui.activity.AboutActivity"/>
        <activity
            android:name=".ui.activity.MVPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.AudioPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".service.AudioPlayService"/>

        </application>

</manifest>